<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <body>
        <h1>Commits</h1>
        <table>
            <tr>
                <th>Plugin</th>
                <th>Github Head Commit</th>
            </tr>
            <% if(Array.isArray(components)){ %>
            <% for(const component of components){ %>
            <tr>
                <td><%= component.name %></td>
                <td><a target='_blank' href="<%= component.repository.slice(0, -4) + '/commit/' + component.ref%>"><%= component.ref %></a></td>
            </tr>
            <% } %>         
            <% } %>
        </table>
    </body>
</html>