<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <body>
        <h1>CVE</h1>
        <table>
            <tr>
                <th>Plugin Link to CVE</th>
            </tr>
            <% if(advisory_mapping instanceof Map){ %>
            <% for(const [name, advisoryUrl] of advisory_mapping) { %>
            <tr>
                <td><a href="<%= advisoryUrl %>"><%= name %></a></td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </body>
</html>