<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>new page</h1>
        <table>
            <tr>
                <th>Plugin</th>
            </tr>
            <% for(let i = 0; i < manifest_json.components.length; i++){ %>
            <tr>
                <td><%= manifest_json.components[i].name %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>